<h1>{{ site.candidates.bartos.name }}</h1>
<div class="anotation">otevřená Evropa</div>
  <div class="perex">Předseda Pirátské strany Ivan Bartoš se v Evropském parlamentu chce soustředit na základní pirátská témata – svobodné šíření informací, autorský zákon, svobodný internet a práva občanů na informace a na soukromí. Se svým neortodoxním vzhledem a aktivně otevřeným přístupem k politické práci je přímým kontrastem ostatních profesionálních poslanců – a stejně neortodoxně chce řešit témata, jenž jsou jeho životním posláním. Prosazuje maximální otevřenost, transparentnost a kooperaci.</div>
  <p>Leader pirátské kandidátky pro volby do Evropského parlamentu a jeden ze zakladatelů Pirátské strany Ivan Bartoš je také od roku 2009 předsedou (s krátkou přestávkou v létě 2013). Vystudoval Ústav informačních studií a knihovnictví na Filozofické fakultě Univerzity Karlovy v Praze. Během studia se zabýval převážně problematikou vyhledávání a získávání informací z heterogenních systémů a možnostmi jejich integrace. Před ukončením studia působil na Computer Science Faculty na University of New Orleans, LA, USA. Angažuje se v aktivitách souvisejících s DIY kulturou. Jako DJ mixuje psytrance, hraje na akordeon a zpívá v kapele. Je vášnivý čtenář. Má psa, dva pískomily a chová křečky.</p>

<p><strong>1. Jaký je Váš osobní vztah k EU?</strong><br />
Vidím nedostatečně využitý potenciál. Tam, kde selhávají jednotlivé národní parlamenty a legislativy, měla by Evropská unie tento handicap vyvažovat. Nejen v Evropě ale i celém světě jsme přece všichni na jedné lodi. EU je o spolupráci na společné cestě. Není to kolbiště národních zájmů, ani kasička, kam všichni něco dávají a každý chce co nejvíce následně urvat.</p>

<p><strong>2. Jaké vůbec mají europoslanci možnosti prosazovat zájmy ČR v EU a co byste chtěl v EP prosazovat v zájmu ČR Vy v případě zvolení?</strong><br />
Chceme hlavně prosazovat zájmy občanů v oblastech, které jsou Pirátům vlastní. Rozhodnutí Evropského parlamentu se týkají všech občanů Evropské unie, já osobně se chci soustředit na záležitosti, které jsou společné všem – například odmítání účasti na mezinárodních smlouvách, které poškozují práva Evropanů, například ACTA, TIPS či snahy o narušení soukromí občanů různými zákony o sledování či uchovávání citlivých údajů,</p>

<p><strong>3. Proč se podle Vás České republice vyplatí být součástí EU?</strong><br />
Většina legislativy, která vzniká v České republice, je navázána na rozhodnutí na evropské úrovni. Pokud chceme mít možnost tuto legislativu ovlivňovat ve prospěch voličů, tak, aby byla v souladu s pirátským programem, chceme tak činit přímo u zdroje. Navíc Česká republika leží geograficky v samém srdci Evropy.</p>

<p><strong>4. Co nám podle Vás Evropská unie dává a co nám bere?</strong><br />
Dává nám možnost podílet se na rozhodování na vyšší úrovni než jsou jen národní parlamenty. Synergie snah jednotlivých států může učinit společenství lepším – to, že tomu tak v současnosti ne vždy je, to je záležitost, kterou chceme změnit. Ve státech Evropské Unie již nyní pracuje spousta vynikajících českých odborníků z nejrůznějších oborů, předpokládám ale, že otázka je směřována na Evropský parlament – tam se volí podle stranického klíče a ne podle odborného, proto již podle logiky věci nejsou Češi v Evropském parlamentu povětšinou zastupováni odborníky, ale neutrálními a loajálními straníky.&nbsp;</p>

<p><strong>5. Proč by voliči měli volit právě Pirátskou stranu, a proč by měli dát preferenční hlas právě vám?</strong><br />
Nikdy jsem neuhnul z cesty, a nemíním to dělat ani teď – zavazuji se k dodržování pirátských zásad a programu a k prosazování jejich hlavních tezí ve prospěch občanů České republiky a Evropy v duchu pirátské filozofie. Piráti jsou pro maximální otevřenost, budeme vás informovat o všem, co budeme v Evropském parlamentu dělat – počítáme například s online přenosy z jednání. Jsme jiní než ostatní, a proto nás prosím nezapomeňte volit u voleb do Evropského parlamentu – jsme totiž všichni na jedné lodi, a Evropa je naše moře.</p>

<p><br />
<strong>​CITÁTY</strong><br />
<br />
<em>„Komunikace českých poslanců v Evropském parlamentu není dobrá ani špatná – ona prostě neexistuje.“</em><br />
<br />
<em>„Lidé by obecně měli věci sdílet a hledat cesty spolupráce, nikoliv se separovat či se vymezovat.“</em><br />
<br />
<em>„Jsem pro maximální otevřenost a transparenci v jakékoliv komunikaci mezi politiky a občany.“</em><br />
<br />
<em>„Jsme všichni na jedné lodi, a Evropa je naše moře.“</em></p>
