<h1>{{ site.candidates.pikal.name }}</h1>
  <div class="anotation">veřejná správa musí být transparentní</div>
  <div class="perex">Vojtěch Pikal je členem Pirátské strany od roku 2012. Jeho hlavním cílem je profesionalizace a optimalizace vnitřního fungování tak, aby strana mohla být efektivní politickou silou v prosazování svého programu a udržela se v ekonomicko-politickém středu při zachování liberálního přístupu k občanským svobodám. Je vedoucím krajského, a celostátního administrativního odboru a dělá předsedajícího na internetových jednáních celostátního fóra. Dále je členem zahraničního, odboru kde se zabývá překlady a fungováním PPI a je zvoleným zvoleným co-chairmanem Pirate Parties International, kteroužto pozici by rád zrušil. V neposlední řadě je pověřeným garantem programového bodu Politické strany.</div>
  <p>Vojtěch Pikal se narodil 19. února 1987 v Olomouci. Po vystudování přírodovědné větve Slovanského Gymnázia pokračoval na studium Informatiky na Palackého Univerzitě. Vystudoval bakalářský program informatiky, nyní studuje magisterský program učitelství matematiky a výpočetní techniky pro střední školy a současně pracuje jako vývojář software.</p>

<p>Dlouhodobě se věnuje organizaci LARPů a dalších her pro mládež v rámci sdružení Kahla o.s., je členem ČSOP - kde dlouhodobě působil jako vedoucí oddílu MOP - a zapisovatelem sdružení Pro Referendum.Mezi jeho zájmy kromě rolových her patří společenský tanec či četba fantasy a sci-fy literatury.&nbsp;</p>

<p><br />
<strong>1. Jaký je Váš osobní vztah k EU?</strong><br />
Vnímám ji jako instituci, která je potřeba, protože na tomto naše malém asijském poloostrově se musíme dohodnout, ať chceme či nechceme. Zpočátku jsem nebyl příliš nadšen Nobelovou cenou míru, kterou EU dostala, nyní ovšem začínám chápat, že je lepší řešit vznikající neshody mezi desítkami národů spíše dohodou a diplomatickými a demokratickými prostředky než napětím a konflikty.</p>

<p><br />
<strong>2. Jaké vůbec mají europoslanci možnosti prosazovat zájmy ČR v EU a co byste chtěl v EP prosazovat v zájmu ČR Vy v případě zvolení?</strong><br />
Europoslanci mají možnost prosazovat zájmy koho je napadne. Nemyslím si, že jsou tam proto, aby prosazovali zájmy České republiky – jsou tam proto, aby prosazovali zájmy jejích občanů. Já se chci kromě klasických pirátských témat jako je ochrana soukromí a reforma kopírovacího monopolu věnovat větší trasparenci veřejných institucí, kde například Česká republika má daleko větší deficit než Evropská unie. Ekonomická oblast je už úplný průšvih. Evropská unie dlouhodobě neřeší svoji ekonomiku a jede na dluh. Vydává speciální nařízení, které se obcházejí. Já se chci zasadit o dodržování a zpřísnění ekonomických pravidel – pověstná 3 maximální procenta se využívají spíše jako optimální stav.</p>

<p><br />
<strong>3. Proč se podle Vás České republice vyplatí být součástí EU?</strong><br />
Protože jsme součástí evropského hospodářského prostoru. A nejen ve smyslu smluvním, ale ve smysu reálném. A potřebujeme se účastnit projednávání různých regulí a smluv, které se dotknou každého aspektu našeho života. My si nemůžeme dovolit, aby se jednalo o nás bez nás. Pokud máme v dnešním polarizujícím se světě nějak působit, pokud máme ovlivňovat, jestli svět směřuje americkou, ruskou nebo čínskou cestou, tak nesmíme zůstat stranou.</p>

<p><strong>4. Co nám podle Vás Evropská unie dává a co nám bere?</strong><br />
Dává nám dotace, ochranu, možnost podílet se na vyjednáván a možnost podílet se na společném hospodářském prostoru. Bere nám část naší suverenity.&nbsp;</p>

<p><strong>5. Proč by voliči měli volit právě Pirátskou stranu, a proč by měli dát preferenční hlas právě vám?</strong><br />
Pokud chcete mít zástupce, kteří se umí domluvit a řešit reálné problémy, volte Piráty. Pokud chcete, aby vás zastupovali odborníci, volte piráty. Jsme součástí celosvětového hnutí a chceme spolupracovat na dohodě s ostatními stranami a státy.&nbsp;</p>
